@model Inventory.Mvc.Models.RawMaterialViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Raw Material</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="mx-auto">
            <h2>Create Raw Material</h2>
        </div>

        @using (Html.BeginForm())
        {
            <div class="row">

                <div class="col-md-6 mx-auto border-secondary">

                    <div class="form-group form-row">
                        @Html.LabelFor(temp => temp.RawMaterialName, "Raw Material Name",
                         new {@class="col-form-label col-lg-3"})

                        <div class="col-lg-9">
                            @Html.TextBoxFor(temp => temp.RawMaterialName,
                            new{@class="form-control col-lg-9", placeholder = "Raw Material Name" })

                            @Html.ValidationMessageFor(temp => temp.RawMaterialName)
                        </div>
                    </div>

                    <div class="form-group form-row">
                        @Html.LabelFor(temp => temp.RawMaterialCode, "Raw Material Code",
                         new {@class="col-form-label col-lg-3" })

                        <div class="col-lg-9">
                            @Html.TextBoxFor(temp => temp.RawMaterialCode,
                            new{@class="form-control col-lg-9", placeholder = "Raw Material Code" })

                            @Html.ValidationMessageFor(temp => temp.RawMaterialCode)
                        </div>
                    </div>

                    <div class="form-group form-row">
                        @Html.LabelFor(temp => temp.RawMaterialUnitPrice, "Unit Price",
                         new {@class="col-form-label col-lg-3" })

                        <div class="col-lg-9">
                            @Html.TextBoxFor(temp => temp.RawMaterialUnitPrice,
                            new{@class="form-control col-lg-9", placeholder = "Raw Material Price" })

                            @Html.ValidationMessageFor(temp => temp.RawMaterialUnitPrice)
                        </div>
                    </div>

                    <div class="border-top text-right pt-2">
                        <button class="btn btn-success">Submit</button>
                    </div>

                </div>
            </div>
        }

    </div>
</body>
</html>
