@model List<Inventory.Mvc.Models.RawMaterialViewModel>

@{
    Layout = "~/Views/Shared/SystemUserLayout.cshtml";
}

<h3 style="color:#808080">Raw Materials</h3>
<table class="table">
    <thead>
        <tr style="background:#bab5b5">
            <th>Raw Material Name</th>
            <th>Raw Material Code</th>
            <th>Raw Material Price</th>
            <th>Action</th>
        </tr>

    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.RawMaterialName</td>
                <td>@item.RawMaterialCode</td>
                <td>@item.RawMaterialUnitPrice</td>
                <td>
                    <a href="@Url.Action("Edit", "RawMaterials",new { id = item.RawMaterialID })">Edit &nbsp;</a>
                    <a href="@Url.Action("Delete", "RawMaterials",new { id = item.RawMaterialID })">Delete &nbsp;</a>
                </td>
            </tr>
        }

    </tbody>

</table>

<a href="@Url.Action("Create", "RawMaterials")">Add New Raw Material</a>
