@model List<Inventory.Mvc.Models.ProductViewModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <h2>Products</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Product Type</th>
                <th>Product Code</th>
                <th>Product Price</th>
                <th>Action</th>
            </tr>

        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.ProductType</td>
                    <td>@item.ProductCode</td>
                    <td>@item.ProductUnitPrice</td>
                    <td>
                        <a href="@Url.Action("Edit", "Products",new { id = item.ProductID })">Edit &nbsp;</a>
                        <button class="btn btn-outline-danger"
                                formaction="@Url.Action("Delete", "Products")">
                            Delete
                        </button>
                    </td>
                </tr>
            }

        </tbody>

    </table>

    <a href="@Url.Action("Create", "Products")">Add New Product</a>
</body>
</html>
