@model List<Inventory.Mvc.Models.ProductViewModel>

@{
    Layout = "~/Views/Shared/SystemUserLayout.cshtml";
}

<h3 style="color:#808080">Products</h3>
<table class="table">
    <thead>
        <tr style="background:#bab5b5">
            <th>Product Name</th>
            <th>Product Type</th>
            <th>Product Code</th>
            <th>Product Price</th>
            <th>Action</th>
        </tr>

    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.ProductType</td>
                <td>@item.ProductCode</td>
                <td>@item.ProductUnitPrice</td>
                <td>
                    <a href="@Url.Action("Edit", "Products",new { id = item.ProductID })">Edit &nbsp;</a>
                    <a href="@Url.Action("Delete", "Products",new { id = item.ProductID })">Delete &nbsp;</a>
                </td>
            </tr>
        }

    </tbody>

</table>

<a href="@Url.Action("Create", "Products")">Add New Product</a>
